{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Контент
{% endblock %}

{% block content %}
	<section class="top-page3" >
		<h3 id="help">Материалы</h3>
			<ul class="variant-list">
				<li >
					<a class="variant_1" href="{% url 'wards' %}"><img src="{% static 'home_pets/images/variant_1.svg' %}"></a>
					<p>Фото и описание</p>
				</li>
				<li >
					<a class="variant_2" href="{% url 'financial_support' %}"><img src="{% static 'home_pets/images/variant_2.svg' %}"></a>
					<p> Цены</p>
				</li>
				<li >
					<a class="variant_3" href="{% url 'food_medicines' %}"><img src="{% static 'home_pets/images/variant_3.svg' %}"></a>
					<p>Гарантии</p>
				</li>
				<li >
					<a class="variant_4" href="{% url 'transportation' %}"><img src="{% static 'home_pets/images/variant_4.svg' %}"></a>
					<p>Ремонт</p>
				</li>
				<li>
					<a class="variant_5" href="{% url 'volunteering' %}"><img src="{% static 'home_pets/images/variant_5.svg' %}"></a>
					<p>Обмен</p>
				</li>
			</ul>
	</section>
{% endblock %}