{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Материальная помощь
{% endblock %}

{% block content %}
<section class="finance-page" >
			<div class="finance-page-top" id="finance">
				<div class="left-line"></div>
				<div class="finance-logo"></div>
				<div class="right-line"></div>
			</div>
			<div class="help-block">
				<div class="zagolovok">
					<h3>Финансовая поддержка</h3>
				</div>
				<div class="about-finance">
					<p> Такая помощь необходима для оплаты стерилизации, прививок, лечения больных животных, покупка
						корма и других жизненно необходимых вещей.</p>
				</div>
			</div>
				<div class="point-help">
					<div class="schet">
						<h2>Расчетный счет в Банке</h2>
						<div>
							<p>БООЗЖ "СПАСИ ЖИЗНЬ"</p>
							<p>УНП: 590375680<br>
								<strong>Текущий (расчетный) счет в BYN:</strong>
								BY13ALFA30152555460010270000 <br>
								ЗАО 'Альфа-Банк'<br>
								БИК: ALFABY2X</p>
								<button>Быстрый платеж</button>
						</div>
					</div>
					<div class="money-point">
						<h2>Коробочки в городе</h2>
						<p>Наши коробочки для пожертвований в г.Гродно:</p>

						<p>1.Зоомаркет «Зообазар», ул.Комарова,26а;<br>

							2.Учебный корпус ГГАУ, ул.Волковича,1;<br>

							3.Парикмахерская «ПРИМАДОННА», ул.Гоголя,11;<br>

							4.Зоомаркет «Зообазар», ул.Пушкина,31а;<br>

							5.Гипермаркет «Евроопт», ул.Тимирязева,8;<br>

							6.Гипермаркет «Евроопт», ул.Янки Купалы,82А;<br>

							7.Фитнес-центр «АДРЕНАЛИН», ул.Подольная,37.
						</p>

					</div>
				</div>


		</section>
{% endblock %}