{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}

		<section class="top-page1">
		<img class="top-foto" src="{% static 'home_pets/images/dog-1.png' %}">

		<h1 class="element0">GERHANS</h1>
			<p class="element1">Немецкое качество</p>
			<p class="element2">Наша продукция: качественная, красивая и удобная </p>
				<div class="element-text" >
			<p class="element3">Ваш выбор... </p>
			<a href="{% url 'categories' %}" >
							     <button class="key-top" onclick=''>Выбрать</button>
							   </a>
			<img class="pitomec1" src="{% static 'home_pets/images/cat-1.png' %}" alt="рыжий кот">
			</div>

		</section>
{% endblock %}