{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}

		<section class="top-page1">
		<img class="top-foto" src="{% static 'home_pets/images/gerhans-k35044bd.png' %}">

		<h1 class="element0">GERHANS</h1>
			<p class="element1">PREMIUM LIFESTYLE</p>
			<p class="element2">German quality </p>
				<div class="element-text" >
			<p class="element3">Смесители, мойки, аксессуары </p>
			<a href="{% url 'wards' %}" >
							     <button class="key-top" onclick=''>Выбрать</button>
							   </a>
			<img class="pitomec1" src="{% static 'home_pets/images/kk4855u-12.png' %}" alt="смеситель">
			</div>

		</section>
{% endblock %}