{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Новости
{% endblock %}

{% block content %}
	<section class="news-page">
    	<div class="news-part">
			<div class="newspage">
				<h2>Новости</h2>
				<div class="news one">
					<img class="foto-news" src="{% static 'home_pets/images/foto-news-1.jpg' %}">
					<p>
					Срочно необходимо забрать собаку (мальчик) на передержку или насовсем. Послезавтра его ждет
					усыпление. С кормом и доставкой поможем. В данный момент находится в вольера САХа.
					Контактный телефон + 37529 58930557.
					Спасите жизнь хвостику.
					</p>
				</div>
			<div class="news two">
				<img class="foto-news" src="./images/foto-news-2.jpg" alt="dog">
				<p>
					Найдены бездомные щенки по улице Горького д.56.
					Сегодня будут перевезены в вольеры САХа. Если у вас есть возможность взять на передержку или
					пристроить малышей - будем вам очень благодарны.
					Спасите жизнь хвостику.
				</p>

			</div>
			<a href="">Показать все новости</a>
			</div>
		</div>


	</section>
{% endblock %}