{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Новости
{% endblock %}

{% block content %}
	<section class="news-page">
    	<div class="news-part">
			<div class="newspage">
				<h2>Новости</h2>
				<div class="news one">
					<img class="foto-news" src="{% static 'home_pets/images/a45-19.jpg' %}">
					<p>
					Мойка Gerhans.
					</p>
				</div>
			<div class="news two">
				<img class="foto-news" src="{% static 'home_pets/images/a45-20.jpg' %}" alt="dog">
				<p>
					Мойка Gerhans .
				</p>

			</div>
			<a href="">Показать все новости</a>
			</div>
		</div>


	</section>
{% endblock %}