{% extends 'home_pets/base.html' %}
{% load static %}

{% block title %}
Новости
{% endblock %}

{% block content %}
	<section class="news-page">
    	<div class="news-part">
			<div class="newspage">
				<h2>Новости</h2>
				{% for News in add_news %}
					<div class="news one">
						<img src="{{News.foto.url}}"/>
						<p>
							{{News.text_news}}
						</p>
					</div>
				{% endfor %}
			<nav class="menu">
		<ul class="top-menu">
			{% for p in paginator.page_range %}
			<li class="page-num">
				<a href="?page={{p}}" class="cdp_i">{{p}}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
			</div>
		</div>


	</section>
{% endblock %}