{% extends 'gerhans/base.html' %}
{% load static %}

{% block title %}
Материальная помощь
{% endblock %}

{% block content %}
<section class="finance-page" >
			<div class="finance-page-top" id="finance">
				<div class="left-line"></div>
				<div class="finance-logo"></div>
				<div class="right-line"></div>
			</div>
			<div class="help-block">
				<div class="zagolovok">
					<h3>Финансовая поддержка</h3>
				</div>
				<div class="about-finance">
					<p> Такая помощь необходима для оплаты стерилизации, прививок, лечения больных животных, покупка
						корма и других жизненно необходимых вещей.</p>
				</div>
			</div>
				<div class="point-help">
					<div class="schet">
						<h2>Расчетный счет в Банке</h2>
						<div>
							<p>Gerhans</p>
							<p>УНП: ХХХХХХХХХХХХХХ<br>
								<strong>Текущий (расчетный) счет в BYN:</strong>
								BYХХХХХХХХХХХХХХХХХХХХХХХХ <br>
								ЗАО 'ХХХХХХХХХХХ'<br>
								БИК: ХХХХХХХХХХ</p>
								<button>Быстрый платеж</button>
						</div>
					</div>
					<div class="money-point">
						<h2>Точки в городе</h2>
						<p>Наши розничные магазины:</p>

						<p>
						</p>

					</div>
				</div>


		</section>
{% endblock %}