{% extends 'gerhans/base.html' %}
{% load static %}

{% block title %}
Ремонт
{% endblock %}

{% block content %}
    <section class="help">
			<div class="help-page-top" id="things">
				<div class="left-line"></div>
				<img class="help-logo" src="{% static 'home_pets/images/help-logo.svg' %}">
				<div class="right-line"></div>

			</div>
			<div class="material-help">


				 <div>  <h2>Корма</h2>
				   <p>
					Можно помочь с покупкой и ремонтом:
					<br>• Быстро <strong>крупы</strong>: дроблёная гречка, овсянка, сечка,
					овсяные/гречневые хлопья, не требующие варки;
					<br>•<strong> Сухие и влажные корма</strong> для собак и котов (кроме Рекс и Petboom),
					<br>• <strong>Фарш для собак</strong>, "БОБИКИ" и др.
					<br>Вы можете помочь в приготовлении каш и их доставке!!
				   </p>
            </div>

            <div>
				<h2>Лекарства</h2>
				<p>
					Нам необходимы препараты: <strong>цефтриаксон</strong> (флакон по 0,5 г); <strong>новокаин</strong>
					(раствор для инъекций); <strong>гискан; гамавит; катозал; антитокс фоспренил; энтеросгель
					</strong>(паста);<strong> препараты от глистов, блох, клещей, для заживления ран.</strong>

				</p>

            </div>
            <div>

				<h2>Другие нужные вещи</h2>
				 <p>
					Для содержания животных всегда необходимы:
				</p>

				<ul class="items-from-helper">
					<li>Ошейники, поводки, намордники;</li>
					<li> Опилки и солома в любом количестве;</li>

					<li> Посуда для животных и для приготовления еды - миски, кастрюли, ножи, черпаки и др.);</li>
					<li> Теплые вещи, лежаки для утепления и уюта животных;</li>
					<li> Будки.</li>
				</ul>

			</div>
			<p><a class="help-key" href="{% url 'food_medicines_help' %}">Кому и куда передать?</a></p>
			</div>
	</section>
{% endblock %}