{% extends 'gerhans/basic.html' %}


{% block title %}
Вход
{% endblock %}

{% block content %}
<div class="order_form">
       <div>
             <h2>Авторизация</h2>
       </div>
    {% if user.is_authenticated %}
    <p>Вы уже выполнили вход.</p>
    {% else %}
     <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">

       <div>
           {% buttons submit='Авторизация' %}{% endbuttons %}

       </div>

        </form>
    </div>
{% endif %}
{% endblock %}