{% extends 'gerhans/base.html' %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block content %}
<div class="order_form">

      <h1>Купить</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
      <div>Оставьте информацию о себе. Мы позвоним вам и<br> договоримся, когда вы сможете забрать себе<br >питомца.</div>
          <input type="submit" name="submit_btn" value="Отправить">
          <input type="submit" name="reset_btn" value="Отмена">
       </div>
       <div>Если у вас есть вопросы, можете позвонить нам:
          <br>+375 (33) ХХХХХХХ  Лена
          <br>+375 (29) ХХХХХХХ  Ольга
          <br>+375 (29) ХХХХХХХ  Рита
       </div>

    </form>
{% endblock %}