{% extends 'gerhans/base.html' %}
{% load static %}

{% block title %}
Транспортировка
{% endblock %}

{% block content %}
<div class="autohelp-page-top" id="transports">
				<div class="left-line"></div>
				<div class="autohelp-logo"></div>
				<div class="right-line"></div>
			</div>
			<div class="autohelp-page">
					<h2>Автопомощь</h2>
					<p>Важной помощью будет транспортировка. Необходимо отвозить животных в ветеринарную клинику в
						сопровождении нашего волонтера или привозить еду. Если у вас есть автомобиль, немного свободного
						времени и доброе сердце - будем вам рады.
					</p>
				<a href="{% url 'transportation_order' %}" ><button class="autohelp-zakaz">Оставить заявку</button></a>

			</div>
{% endblock %}